
#hero {
  min-height: 90vh;
}
.animate-blob {
  animation: blob 7s infinite;
}
@keyframes blob {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
